
@import "vendor/bootstrap337/bootstrap/_variables"; 

body {
	margin: 25px;
	padding: 0;
	font-size: $font-size-base;
	font-family: $font-family-sans-serif;
	color: $text-color;
	line-height: $line-height-base;
}

h1 {
	font-size: $font-size-h1;
	margin-top: 0;
	margin-bottom: 1em;
}

h2 {
	font-size: $font-size-h2;
	margin-top: 0;
	margin-bottom: 1em;
}

h3 {
	font-size: $font-size-h3;
	margin-top: 0;
	margin-bottom: 1em;
}

h4 {
	font-size: $font-size-h4;
	margin-top: 0;
	margin-bottom: 1em;
}

h5 {
	font-size: $font-size-h5;
	margin-top: 0;
	margin-bottom: 1em;
}

h6 {
	font-size: $font-size-h6;
	margin-top: 0;
	margin-bottom: 1em;
}

a {

	text-decoration: underline;
	
	color: $link-color;
	
	&:hover {
	
		color: $link-hover-color;
	
		text-decoration: $link-hover-decoration;
		
	}
	
}	

.fa {
	font-size: 48px;
	margin-right: 0.25em;
}

blockquote {

	margin: 0 0 1.5em 0;
	padding: 1em;
	color: inherit;
	font-size: inherit;
    border-left: $gray-lighter 5px solid;
	font-style: italic;
	
	p {
		margin: 0 0 1em 0;
		&:last-child {
			margin-bottom: 0;
		}
	}
	
	
	
}

table {
	
	th {
		font-weight: bold;
	}
	
	th, td {
		padding: 3px 6px;
	}
	
}

