.site-header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1000;
	background: #fff;
	box-shadow: 0 0 5px rgba(0,0,0,0.5);
	padding-top: 40px;
	padding-bottom: 40px;
	
	@media (max-width: 1024px) {
		padding-top: 23px;
		padding-bottom: 23px;
	}
	
}

.modal-open .site-header {
	padding-right: 17px;
}

.site-logo {
	display: block;
	width: 134px;
	height: 41px;
	background: transparent url('../images/logo.png') no-repeat center center / contain;
	
	@media (max-width: 1024px) {
		width: 108px;
		height: 33px;
	}
	
}

.site-header-page-title {
	color: $brand-color-2;
	font-size: 26px;
	line-height: 28px;
	display: inline-block;
	position: relative;
	margin-left: -67px;
	@media (max-width: 1024px) {
		font-size: 22px;
		line-height: 26px;
		margin-left: -54px;
	}
	
}