
$brand-color-1: #2F1868;
$brand-color-2: #7C24AD;
$brand-color-3: #47D3DD;

@import "vendor/bootstrap337/_bootstrap"; 
@import "vendor/bootstrap-datepicker/bootstrap-datepicker3"; 
@import "mixins/_mixins"; 
 
@import "components/_global"; 
@import "components/_buttons"; 
@import "components/_grid"; 
@import "components/_type"; 
@import "components/_panel"; 
@import "components/_trow"; 
@import "components/_table"; 
@import "components/_fonts"; 
@import "components/_modal"; 

@import "templates/_block-site-header";
@import "templates/_block-site-main"; 
@import "templates/_block-site-footer"; 
@import "templates/_template-investment"; 
