<article class="site-article">
	
	<div class="container-fluid">
		
		<div class="mobile-coming-soon-screen-1">
		
			<h3>Update coming soon…</h3>
			
			<p>Investment feature on Aigang app! <br />
				You’ll be able to make investments on your smartphone with the Aigang app.
			</p>
			
		</div>
			
		<img class="mobile-coming-soon-img" src="images/mobile-bg.jpg" alt="" />
			
		<div class="mobile-coming-soon-screen-2">
		
			<form>
				<p class="error-message">Oops! You forgot to enter your email</p>
				<input type="text" value="Your email" class="form-control" />
				<button type="submit" class="btn btn-block btn-lg btn-primary">GET NOTIFIED</button>
			</form>
			
		</div>
		
		<div class="mobile-coming-soon-screen-4">

			<h3 class="text-primary-2">Why wait? Try now!</h3>
			<p>While you’re waiting for the update, give digital blockchain insurance a try. Today. Available on app stores for all Android and iOS devices.</p>
			
			<br /><br />
			
			<p>
				<a class="mobile-coming-soon-app-btn" href="" target="_blank"><img alt="" src="images/applestore.jpg" /></a>
				<a class="mobile-coming-soon-app-btn" href="" target="_blank"><img alt="" src="images/googleplay.jpg" /></a>
			</p>

		</div>
		
		<img class="mobile-coming-soon-footer-img" src="images/mobile-footer.jpg" alt="" />
		
		<div class="mobile-coming-soon-footer">
		
			<div class="container">
			
				<div class="row">
				
					<div class="col-xs-6">
						<span class="mobile-coming-soon-footer-copyright">Copyright © aigang</span>
					</div>
				
					<div class="col-xs-6 text-right">
					
						<ul class="social-links-menu">
							<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-62"><a href="https://github.com/AigangNetwork" target="_blank"><i class="fa fa-github"></i></a></li>
							<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-65"><a href="https://medium.com/aigang-network" target="_blank"><i class="fa fa-medium"></i></a></li>
							<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-63"><a href="https://t.me/aigangnetwork" target="_blank"><i class="fa fa-telegram"></i></a></li>
							<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-64"><a href="http://slack.aigang.network" target="_blank"><i class="fa fa-slack"></i></a></li>
						</ul>
						
					</div>
				
				</div>
			
			</div>
		
		</div>
		
	</div>
	
</article>